scripts/filter_flow.json
{"flowContents":{"identifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","instanceIdentifier":"5a17b5f2-0183-1000-bd45-843a9af46667","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0a1c71b2-8dce-34cf-a44f-b4b24ad5a366","instanceIdentifier":"0185100e-0554-187c-d30b-c514cfba4ebf","name":"JoltTransformJSON","comments":"","position":{"x":512.0,"y":672.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"jolt-spec":"[{\n        \"operation\": \"shift\",\n        \"spec\": {\n            \"*\": \"@(0,eventTime)\"\n        }\n    }, {\n        \"operation\": \"modify-overwrite-beta\",\n        \"spec\": {\n            \"*\": \"=lastElement(@(1,&))\"\n        }\n    }, {\n        \"operation\": \"sort\"\n    }, {\n        \"operation\": \"shift\",\n        \"spec\": {\n            \"*\": {\n                \"@\": \"list.[]\"\n            }\n        }\n    }, {\n        \"operation\": \"modify-overwrite-beta\",\n        \"spec\": {\n            \"list\": \"=lastElement(@(1,list))\"\n        }\n    }, {\n        \"operation\": \"shift\",\n        \"spec\": {\n            \"list\": {\n                \"*\": \"&\"\n            }\n        }\n    }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"},{"identifier":"80039b49-bf12-3296-84c3-67a78a861d4a","instanceIdentifier":"01851004-0554-187c-98ef-d5da853faa51","name":"GenerateFlowFile","comments":"","position":{"x":904.0,"y":104.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n  \"eventInstanceId\": \"\",\n  \"eventName\": \"ObjectStateUpdated\",\n  \"eventTime\": \"2021-04-16T11:41:26Z\",\n  \"eventSource\": \"SourceSystem\",\n  \"eventSubject\": {\n    \"objectIdentifier\": \"ABC\"\n  },\n  \"data\": {}\n}\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"20 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"},{"identifier":"50995c2c-e9f2-3bd8-9e8b-7b1f67ecd164","instanceIdentifier":"01851008-0554-187c-7a30-41ea453bf9da","name":"EvaluateJsonPath","comments":"","position":{"x":512.0,"y":288.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","objectIdentifier":"$.eventSubject.objectIdentifier","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"objectIdentifier":{"name":"objectIdentifier","displayName":"objectIdentifier","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"},{"identifier":"729d1a62-577d-3c34-9eac-46b2c024241c","instanceIdentifier":"587c0554-0185-1000-d66a-ea2a3a16b16c","name":"GenerateFlowFile","comments":"","position":{"x":112.0,"y":104.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n  \"eventInstanceId\": \"a3f639bd-62e1-fe0c-9036-460fdae17abc\",\n  \"eventName\": \"ObjectStateUpdated\",\n  \"eventTime\": \"2021-04-16T11:41:27Z\",\n  \"eventSource\": \"SourceSystem\",\n  \"eventSubject\": {\n    \"objectIdentifier\": \"ABC\"\n  },\n  \"data\": {}\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"20 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"},{"identifier":"886c3ec5-ec2c-3ce8-8e57-b224c62377ba","instanceIdentifier":"01851002-0554-187c-c189-b4969400939b","name":"GenerateFlowFile","comments":"","position":{"x":512.0,"y":104.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n  \"eventInstanceId\": \"50087bb5-f791-4aa9-9bb0-9fc75d45c316\",\n  \"eventName\": \"ObjectStateUpdated\",\n  \"eventTime\": \"2021-04-16T11:41:28Z\",\n  \"eventSource\": \"SourceSystem\",\n  \"eventSubject\": {\n    \"objectIdentifier\": \"ABC\"\n  },\n  \"data\": {}\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"20 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"},{"identifier":"436896da-4974-3a18-9ca0-18391ca8fc21","instanceIdentifier":"587be697-0185-1000-9ca6-23cabcf32463","name":"MergeContent","comments":"","position":{"x":512.0,"y":488.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":"10 seconds","Demarcator File":",","Correlation Attribute Name":"${objectIdentifier}","Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"59c23e40-31a1-3a4f-ab36-9a6b2af765ae","instanceIdentifier":"0185100b-0554-187c-e512-5cc9bf831204","name":"","source":{"id":"729d1a62-577d-3c34-9eac-46b2c024241c","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"GenerateFlowFile","comments":"","instanceIdentifier":"587c0554-0185-1000-d66a-ea2a3a16b16c"},"destination":{"id":"50995c2c-e9f2-3bd8-9e8b-7b1f67ecd164","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"01851008-0554-187c-7a30-41ea453bf9da"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"},{"identifier":"90f438a0-b1a4-3efc-a2f9-2446cedca350","instanceIdentifier":"01851010-0554-187c-a23a-b0d967b48d97","name":"","source":{"id":"0a1c71b2-8dce-34cf-a44f-b4b24ad5a366","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"JoltTransformJSON","comments":"","instanceIdentifier":"0185100e-0554-187c-d30b-c514cfba4ebf"},"destination":{"id":"1cc10046-8fce-3f36-85d0-27f005e69204","type":"FUNNEL","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"Funnel","comments":"","instanceIdentifier":"0185100d-0554-187c-8393-08256ad8138c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"},{"identifier":"d2779940-5345-329e-a406-253b90690042","instanceIdentifier":"0185100f-0554-187c-a1c1-03fb4c3ced50","name":"","source":{"id":"436896da-4974-3a18-9ca0-18391ca8fc21","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"MergeContent","comments":"","instanceIdentifier":"587be697-0185-1000-9ca6-23cabcf32463"},"destination":{"id":"0a1c71b2-8dce-34cf-a44f-b4b24ad5a366","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"JoltTransformJSON","comments":"","instanceIdentifier":"0185100e-0554-187c-d30b-c514cfba4ebf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"},{"identifier":"f2dc6a18-25fd-36c9-8e9c-740d50216a6f","instanceIdentifier":"01851009-0554-187c-14db-afe5eb4bc708","name":"","source":{"id":"80039b49-bf12-3296-84c3-67a78a861d4a","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"GenerateFlowFile","comments":"","instanceIdentifier":"01851004-0554-187c-98ef-d5da853faa51"},"destination":{"id":"50995c2c-e9f2-3bd8-9e8b-7b1f67ecd164","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"01851008-0554-187c-7a30-41ea453bf9da"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"},{"identifier":"2a5cc8fd-2544-33c9-80fa-d1646eb57b59","instanceIdentifier":"0185100c-0554-187c-2a64-83c0209114ca","name":"","source":{"id":"50995c2c-e9f2-3bd8-9e8b-7b1f67ecd164","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"01851008-0554-187c-7a30-41ea453bf9da"},"destination":{"id":"436896da-4974-3a18-9ca0-18391ca8fc21","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"MergeContent","comments":"","instanceIdentifier":"587be697-0185-1000-9ca6-23cabcf32463"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"},{"identifier":"5d0edab6-6db2-3f46-974b-4ba3818ac293","instanceIdentifier":"0185100a-0554-187c-ab6e-7ea5840a0efe","name":"","source":{"id":"886c3ec5-ec2c-3ce8-8e57-b224c62377ba","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"GenerateFlowFile","comments":"","instanceIdentifier":"01851002-0554-187c-c189-b4969400939b"},"destination":{"id":"50995c2c-e9f2-3bd8-9e8b-7b1f67ecd164","type":"PROCESSOR","groupId":"a8a51a7f-fca0-3afd-9547-8e7513e98dba","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"01851008-0554-187c-7a30-41ea453bf9da"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"}],"labels":[],"funnels":[{"identifier":"1cc10046-8fce-3f36-85d0-27f005e69204","instanceIdentifier":"0185100d-0554-187c-8393-08256ad8138c","position":{"x":664.0,"y":880.0},"componentType":"FUNNEL","groupIdentifier":"a8a51a7f-fca0-3afd-9547-8e7513e98dba"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}
