sampleflows/NiFi_Flow_sample_forward_httpheaders.json
{"flowContents":{"identifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"58435c76-3d7b-3546-ab11-0a778885301f","name":"ListenHTTP","comments":"","position":{"x":712.0,"y":8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.1"},"style":{},"type":"org.apache.nifi.processors.standard.ListenHTTP","properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Headers to receive as Attributes (Regex)":".*","health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"dummy1","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"8124"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"},{"identifier":"5742b57c-edf7-3f8d-af9b-a865952f1bd6","name":"HandleHttpResponse","comments":"","position":{"x":280.0,"y":640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.1"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"7bb4a123-458b-32cb-b44c-f27b4012197f","Attributes to add to the HTTP Response (Regex)":"X-.*","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"},{"identifier":"1554421b-0edb-3cf1-bc12-f6dd4fd3ecc1","name":"ExecuteScript","comments":"","position":{"x":280.0,"y":208.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.15.1"},"style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"def flowFile = session.get();\nif (flowFile != null) {\n\n    // Get attributes\n    def attmap = flowFile.getAttributes()\n\n    for (entry in attmap) {\n    \tif (entry.key.startsWith(\"http.headers.\")) {\n\t\tdef mykey = entry.key.replace(\"http.headers.\",\"\")\n\t\tflowFile = session.putAttribute(flowFile, mykey, entry.value)\n\t\tflowFile = session.removeAttribute(flowFile, entry.key)\n\t}\n    }\n    session.transfer(flowFile, REL_SUCCESS)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"},{"identifier":"77dc4990-9cd4-3397-82a9-d071ca2098bd","name":"HandleHttpRequest","comments":"","position":{"x":280.0,"y":8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.1"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Additional HTTP Methods":null,"container-queue-size":"100","HTTP Context Map":"7bb4a123-458b-32cb-b44c-f27b4012197f","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":null,"Allow GET":"true","Allow HEAD":"false","Listening Port":"8123","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"},{"identifier":"6da5bcff-f52c-34af-832e-f388b72797ad","name":"InvokeHTTP","comments":"","position":{"x":280.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.1"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":".*","use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://172.18.0.5:8124","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"},{"identifier":"c0c3306e-30cb-3b4f-9a85-cf87682b97a7","name":"LogAttribute","comments":"","position":{"x":712.0,"y":208.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.1"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"warn","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4ecfe367-1335-3e62-90bd-842c0accb784","name":"","source":{"id":"6da5bcff-f52c-34af-832e-f388b72797ad","type":"PROCESSOR","groupId":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83","name":"InvokeHTTP","comments":""},"destination":{"id":"5742b57c-edf7-3f8d-af9b-a865952f1bd6","type":"PROCESSOR","groupId":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83","name":"HandleHttpResponse","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"},{"identifier":"ae8681bd-55ff-3991-9cf0-48d69c84f919","name":"","source":{"id":"77dc4990-9cd4-3397-82a9-d071ca2098bd","type":"PROCESSOR","groupId":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83","name":"HandleHttpRequest","comments":""},"destination":{"id":"1554421b-0edb-3cf1-bc12-f6dd4fd3ecc1","type":"PROCESSOR","groupId":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83","name":"ExecuteScript","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"},{"identifier":"1bf9ebf7-9b5c-3cdb-868a-4dbbbb3bd876","name":"","source":{"id":"58435c76-3d7b-3546-ab11-0a778885301f","type":"PROCESSOR","groupId":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83","name":"ListenHTTP","comments":""},"destination":{"id":"c0c3306e-30cb-3b4f-9a85-cf87682b97a7","type":"PROCESSOR","groupId":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"},{"identifier":"9842cc89-9d15-3dec-b362-ed244a420c7c","name":"","source":{"id":"1554421b-0edb-3cf1-bc12-f6dd4fd3ecc1","type":"PROCESSOR","groupId":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83","name":"ExecuteScript","comments":""},"destination":{"id":"6da5bcff-f52c-34af-832e-f388b72797ad","type":"PROCESSOR","groupId":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83","name":"InvokeHTTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7bb4a123-458b-32cb-b44c-f27b4012197f","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"1.15.1"},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.1"}}],"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2dadf7b8-ece3-34fc-8b32-16f1bdf5da83"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}